# macOS
.DS_Store
._*
**/._*

# IDE
.idea/
.vscode/
*.iml

# Logs
*.log
logs/

# Env
.env

# Java
backend/target/
backend/.mvn/

# Node
frontend/node_modules/
frontend/dist/
*.tsbuildinfo

# Docker
postgres-data/
